body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: black;
}

#menu {
  position: absolute;
  top: 30%;
  left: 40%;
  background: rgba(0,0,0,0.8);
  padding: 20px;
  color: white;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  width: 100%;
}
